<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Testimonial:
          Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Testimonial</h1>

    <f:flashMessages />

    <table class="tx_nstestimonial">
        <tr>
            <th><f:translate key="tx_nstestimonial_domain_model_testimonial.title" /></th>
            <th><f:translate key="tx_nstestimonial_domain_model_testimonial.description" /></th>
            <th><f:translate key="tx_nstestimonial_domain_model_testimonial.name" /></th>
            <th><f:translate key="tx_nstestimonial_domain_model_testimonial.position" /></th>
            <th><f:translate key="tx_nstestimonial_domain_model_testimonial.rating" /></th>
            <th><f:translate key="tx_nstestimonial_domain_model_testimonial.image" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{testimonials}" as="testimonial">
            <tr>
                <td><f:link.action action="show" arguments="{testimonial : testimonial}">{testimonial.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{testimonial : testimonial}">{testimonial.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{testimonial : testimonial}">{testimonial.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{testimonial : testimonial}">{testimonial.position}</f:link.action></td>
                <td><f:link.action action="show" arguments="{testimonial : testimonial}">{testimonial.rating}</f:link.action></td>
                <td><f:link.action action="show" arguments="{testimonial : testimonial}">{testimonial.image.originalResource.name}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{testimonial : testimonial}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{testimonial : testimonial}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Testimonial</f:link.action>
</f:section>
</html>
