<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ns-testimonial">
	<tr>
		<td><f:translate key="tx_nstestimonial_domain_model_testimonial.title" /></td>
		<td>{testimonial.title}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nstestimonial_domain_model_testimonial.description" /></td>
		<td>{testimonial.description}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nstestimonial_domain_model_testimonial.name" /></td>
		<td>{testimonial.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nstestimonial_domain_model_testimonial.position" /></td>
		<td>{testimonial.position}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nstestimonial_domain_model_testimonial.rating" /></td>
		<td>{testimonial.rating}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nstestimonial_domain_model_testimonial.image" /></td>
		<td>
				<f:image src="{testimonial.image.originalResource.publicUrl}" width="200"/>
            </td>
	</tr>
</table>
</html>
